* {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 50px;
}


html {
    margin: 0;
    background: url('https://images3.alphacoders.com/924/thumb-1920-924667.jpg');
    transform: scale(80%, 80%);
    background-repeat: repeat;
}

html::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0 0 0 / .5);
    z-index: -1;
}
div {
    color: white;
}

.hh {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)
}

.d3a {
    font-size: 25px;
    width: 500px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
